@import url('https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display:300,700i&display=swap');


body{
  background-color: #202124;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  transition: 1s all;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.light{
    background-color: white;
}
.dark{
  background-color: #202124;
}


.topContainer{
  height:8vh;
  width: 100%;
  border-bottom: gray solid 1px;
  overflow-y: hidden;
  transition:  .5s all;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #202124;
}

.active{
  height:25vh;
}

#titleBar{
  height: 8vh;
  display: flex;

  justify-content: flex-start;
}

#logoText{
  color: white;
  display: flex;
  align-items: center;
  margin-left: 50px;
  font-family: 'Chivo';
  font-size: 2.5vw;
  font-weight: 300;
}

#btnContainer{
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 50px;
  width: 10%;
  
}

.adder{
  height:50%;
  opacity: .5;

  transition: .8s all;

}

.adder:hover{
  opacity: 1;
  transform: rotate(135deg);
}

#formContainer{
  height:12vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

form{
  display: flex;
  align-items: center;
  width: 93%;
  margin-top: 4.5vh;
}

.inputs{
  background-color: #202124;
  color: white;
  border: gray solid 1px;
  font-size: 2vw;
  height: 50px;
  width: 35%;
  padding-left: 1%;
  font-family: 'Chivo'
}

#title{
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
#pages{
  width: 10%;
  padding-left: .5%;
}
.submit{
  background-color: #202124;
  color: white;
  border: 1px gray solid;
  height: 54px;
  width: 10%;
  font-family: 'Chivo';
  color: #a8a8a8;
  font-size: 2vw;
  transition: .5s all;
  border-top-right-radius:25px;
  border-bottom-right-radius: 25px;
}

.submit:hover{
  border: 1px white solid;
}

.submit:active{
  background:lightgreen;
}

/* this is the style of an uncheked "button" */
.input-check{
    display:inline-block;
    background-color: #202124;
    color: white;
    border: 1px gray solid;
    font-family: 'Chivo';
    font-size: 2vw;
    height: 52px;
    width: 10%;
    color:#a8a8a8;
;
    transition: .5s all;
    transition: background-color 1s ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-check:hover{
  transition: .5s all;
  border: 1px white solid;
}
/* This is the style for a checked "button" */
.input-check.checked{
    background:lightgreen;
    color:white;
}
/* Hide the checkbox */
.input-check input{
    display:none
}

.mainContainer{
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33.3333%;
  margin-top:8vw;
  justify-content: center;
}

.mainContainer .item {
  margin-right:15px;
  margin-left:15px;
  margin-bottom: 50px;
  height:210px;
  width: 320px;
  border-radius: 15px;
  border: 1px solid gray;
  transition: 1.2s all;
  animation: expand .5s ease-in;
}

.green{
  background-color: lightgreen;
}

@keyframes expand {
  from {
    opacity: 0%;
    height:0%;
  }
}

#xHolder{
  position: relative;
  top: 0;
  height: 7%;
  display: flex;
  justify-content: flex-end;
  padding-right:10px;
  padding-top:3px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 1px gray solid;

}
.fa-times{
  color:gray;
  transition: .2s all;
  z-index: 0;
}
.fa-times:hover{
  color:white;
  cursor: pointer;

}

.titleBook{
  font-size: 100%;
}
.pages{
  font-size: 20px;
}
.readStatus{
  font-size: 15px;
  border:1px solid gray;
  padding: 5px;
  border-radius: 5px;
  color:gray;
  transition: .5s all;
}
.readStatus:hover{
  padding: 7px;
  cursor: pointer;
}

.bookInfo{
  word-wrap: break-word;
  padding-left: 5%;
  padding-right: 5%;
  color:white;
  height: 91.1%;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  font-size: 25px;
  display:flex;
  align-items: flex-start;
  transition: 1s all;
  background-color: #202124; 
  font-family: 'Chivo';
}
