body{
  background-color: #202124;
  display: flex;
  justify-content: center;
  margin: 0;
}

#topContainer{

  height:100%;
  width: 100vw;
  border-bottom: gray solid 1px;
}

#titleBar{
  height: 8vh;
  /* background-color: red; */
}

#formContainer{
  height:26vh;
  background-color: blue;
  display: none;
}
